[Interface]
Address = 10.107.2.2/24
PrivateKey = <private_key>
ListenPort = 21841
# LAN PiHole - see wg-quick module
DNS = 192.168.0.118

[Peer]
PublicKey = <public_key>
Endpoint = <ip>:<port>
AllowedIPs = 0.0.0.0/0
